body {
  .inputs{
    padding: 1em;
    label{
      padding: .5em;
      padding-left: 1.5em;
      position: relative;
      .check{
        position: absolute;
        width: 1.2em;
        height: 1.2em;
        border-radius: 20px;
        background-color: gray;
        left: 1px;
      }
      input:checked~.check{
        background-color: goldenrod;
      }
    }
  }

  /* breakPoints */
  @media (min-width: 640px) {
    /* Small (sm) */
  }
  @media (min-width: 768px) {
  }
  @media (min-width: 1024px) {
    /* Large (lg) */
  }
  @media (min-width: 1280px) {
    /* Extra Large (xl)  */
  }
}
